div.highlight > pre { background-color : #ffffff; }
div.highlight > pre > .hll { background-color: #ffffcc }
div.highlight > pre > .c { color: #008800; font-style: italic } /* Comment */
div.highlight > pre > .err { color: #a61717; background-color: #e3d2d2 } /* Error */
div.highlight > pre > .k { color: #000080; font-weight: bold } /* Keyword */
div.highlight > pre > .cm { color: #008800; font-style: italic } /* Comment.Multiline */
div.highlight > pre > .cp { color: #008080 } /* Comment.Preproc */
div.highlight > pre > .c1 { color: #008800; font-style: italic } /* Comment.Single */
div.highlight > pre > .cs { color: #008800; font-weight: bold } /* Comment.Special */
div.highlight > pre > .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
div.highlight > pre > .ge { font-style: italic } /* Generic.Emph */
div.highlight > pre > .gr { color: #aa0000 } /* Generic.Error */
div.highlight > pre > .gh { color: #999999 } /* Generic.Heading */
div.highlight > pre > .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
div.highlight > pre > .go { color: #888888 } /* Generic.Output */
div.highlight > pre > .gp { color: #555555 } /* Generic.Prompt */
div.highlight > pre > .gs { font-weight: bold } /* Generic.Strong */
div.highlight > pre > .gu { color: #aaaaaa } /* Generic.Subheading */
div.highlight > pre > .gt { color: #aa0000 } /* Generic.Traceback */
div.highlight > pre > .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
div.highlight > pre > .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
div.highlight > pre > .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
div.highlight > pre > .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
div.highlight > pre > .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
div.highlight > pre > .kt { color: #000080; font-weight: bold } /* Keyword.Type */
div.highlight > pre > .m { color: #0000FF } /* Literal.Number */
div.highlight > pre > .s { color: #0000FF } /* Literal.String */
div.highlight > pre > .na { color: #FF0000 } /* Name.Attribute */
div.highlight > pre > .nt { color: #000080; font-weight: bold } /* Name.Tag */
div.highlight > pre > .ow { font-weight: bold } /* Operator.Word */
div.highlight > pre > .w { color: #bbbbbb } /* Text.Whitespace */
div.highlight > pre > .mf { color: #0000FF } /* Literal.Number.Float */
div.highlight > pre > .mh { color: #0000FF } /* Literal.Number.Hex */
div.highlight > pre > .mi { color: #0000FF } /* Literal.Number.Integer */
div.highlight > pre > .mo { color: #0000FF } /* Literal.Number.Oct */
div.highlight > pre > .sb { color: #0000FF } /* Literal.String.Backtick */
div.highlight > pre > .sc { color: #800080 } /* Literal.String.Char */
div.highlight > pre > .sd { color: #0000FF } /* Literal.String.Doc */
div.highlight > pre > .s2 { color: #0000FF } /* Literal.String.Double */
div.highlight > pre > .se { color: #0000FF } /* Literal.String.Escape */
div.highlight > pre > .sh { color: #0000FF } /* Literal.String.Heredoc */
div.highlight > pre > .si { color: #0000FF } /* Literal.String.Interpol */
div.highlight > pre > .sx { color: #0000FF } /* Literal.String.Other */
div.highlight > pre > .sr { color: #0000FF } /* Literal.String.Regex */
div.highlight > pre > .s1 { color: #0000FF } /* Literal.String.Single */
div.highlight > pre > .ss { color: #0000FF } /* Literal.String.Symbol */
div.highlight > pre > .il { color: #0000FF } /* Literal.Number.Integer.Long */
