div.highlight > pre { background-color : #111111; }
div.highlight > pre > .hll { background-color: #333333 }
div.highlight > pre > .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
div.highlight > pre > .err { color: #ffffff } /* Error */
div.highlight > pre > .g { color: #ffffff } /* Generic */
div.highlight > pre > .k { color: #fb660a; font-weight: bold } /* Keyword */
div.highlight > pre > .l { color: #ffffff } /* Literal */
div.highlight > pre > .n { color: #ffffff } /* Name */
div.highlight > pre > .o { color: #ffffff } /* Operator */
div.highlight > pre > .x { color: #ffffff } /* Other */
div.highlight > pre > .p { color: #ffffff } /* Punctuation */
div.highlight > pre > .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
div.highlight > pre > .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
div.highlight > pre > .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
div.highlight > pre > .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
div.highlight > pre > .gd { color: #ffffff } /* Generic.Deleted */
div.highlight > pre > .ge { color: #ffffff } /* Generic.Emph */
div.highlight > pre > .gr { color: #ffffff } /* Generic.Error */
div.highlight > pre > .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
div.highlight > pre > .gi { color: #ffffff } /* Generic.Inserted */
div.highlight > pre > .go { color: #444444; background-color: #222222 } /* Generic.Output */
div.highlight > pre > .gp { color: #ffffff } /* Generic.Prompt */
div.highlight > pre > .gs { color: #ffffff } /* Generic.Strong */
div.highlight > pre > .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
div.highlight > pre > .gt { color: #ffffff } /* Generic.Traceback */
div.highlight > pre > .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
div.highlight > pre > .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
div.highlight > pre > .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
div.highlight > pre > .kp { color: #fb660a } /* Keyword.Pseudo */
div.highlight > pre > .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
div.highlight > pre > .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
div.highlight > pre > .ld { color: #ffffff } /* Literal.Date */
div.highlight > pre > .m { color: #0086f7; font-weight: bold } /* Literal.Number */
div.highlight > pre > .s { color: #0086d2 } /* Literal.String */
div.highlight > pre > .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
div.highlight > pre > .nb { color: #ffffff } /* Name.Builtin */
div.highlight > pre > .nc { color: #ffffff } /* Name.Class */
div.highlight > pre > .no { color: #0086d2 } /* Name.Constant */
div.highlight > pre > .nd { color: #ffffff } /* Name.Decorator */
div.highlight > pre > .ni { color: #ffffff } /* Name.Entity */
div.highlight > pre > .ne { color: #ffffff } /* Name.Exception */
div.highlight > pre > .nf { color: #ff0086; font-weight: bold } /* Name.Function */
div.highlight > pre > .nl { color: #ffffff } /* Name.Label */
div.highlight > pre > .nn { color: #ffffff } /* Name.Namespace */
div.highlight > pre > .nx { color: #ffffff } /* Name.Other */
div.highlight > pre > .py { color: #ffffff } /* Name.Property */
div.highlight > pre > .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
div.highlight > pre > .nv { color: #fb660a } /* Name.Variable */
div.highlight > pre > .ow { color: #ffffff } /* Operator.Word */
div.highlight > pre > .w { color: #888888 } /* Text.Whitespace */
div.highlight > pre > .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
div.highlight > pre > .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
div.highlight > pre > .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
div.highlight > pre > .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
div.highlight > pre > .sb { color: #0086d2 } /* Literal.String.Backtick */
div.highlight > pre > .sc { color: #0086d2 } /* Literal.String.Char */
div.highlight > pre > .sd { color: #0086d2 } /* Literal.String.Doc */
div.highlight > pre > .s2 { color: #0086d2 } /* Literal.String.Double */
div.highlight > pre > .se { color: #0086d2 } /* Literal.String.Escape */
div.highlight > pre > .sh { color: #0086d2 } /* Literal.String.Heredoc */
div.highlight > pre > .si { color: #0086d2 } /* Literal.String.Interpol */
div.highlight > pre > .sx { color: #0086d2 } /* Literal.String.Other */
div.highlight > pre > .sr { color: #0086d2 } /* Literal.String.Regex */
div.highlight > pre > .s1 { color: #0086d2 } /* Literal.String.Single */
div.highlight > pre > .ss { color: #0086d2 } /* Literal.String.Symbol */
div.highlight > pre > .bp { color: #ffffff } /* Name.Builtin.Pseudo */
div.highlight > pre > .vc { color: #fb660a } /* Name.Variable.Class */
div.highlight > pre > .vg { color: #fb660a } /* Name.Variable.Global */
div.highlight > pre > .vi { color: #fb660a } /* Name.Variable.Instance */
div.highlight > pre > .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */
